/sys/os
/sys/time
/log
.idea
settings/.env
pars_script/__pycache__
settings/__init__.py
/urllib_reqvest_start.py
/html.txt
/config.py
/sys/temp.txt
/sys/geckodriver.log
/sys/flat.html
/sys/geckodriver
/sys/chromedriver
/__pycache__
app/__pycache__
/settings/__pycache__

/pars_script/pars_index/PIndx01.dbf
/pars_script/position/test.py
/pars_script/position/__init__.py
/pars_script/position/__pycache__
/pars_script/position/chromedriver

#логи
/pars_script/log/
/job/log
/job/log/main_script.log
/job/log/main_script.log

/pars_script/settings/__init__.py


/pard_script/flat.html

/base_scripts/job/log
/base_scripts/job/date_out.txt
/base_scripts/job/task.txt

# Тестовые файлы
pars_script/test_main.html
pars_script/test_one_ads.html

# Запросы к деплою 
/base_scripts/query/prepare.sql
