/sys/os
/sys/time
.idea
pars_skript/settings/.env
pars_skript/__pycache__
pars_skript/__init__.py
/urllib_reqvest_start.py
/html.txt
/config.py
/sys/temp.txt
/sys/geckodriver.log
/sys/flat.html
/sys/geckodriver
/sys/chromedriver
/__pycache__
app/__pycache__
/log

/pars_script/pars_index/PIndx01.dbf
/pars_script/position/test.py
/pars_script/position/__init__.py
/pars_script/position/__pycache__
/pars_script/position/chromedriver



/pars_script/log/
/pars_script/settings/__init__.py


/pard_script/flat.html

/base_scripts/job/log
/base_scripts/job/date_out.txt
