/sys/os
/sys/time
.idea
pars_skript/settings/.env
pars_skript/__pycache__
pars_skript/__init__.py
/urllib_reqvest_start.py
/html.txt
/config.py
/sys/temp.txt
/sys/geckodriver.log
/sys/flat.html
/sys/geckodriver
/sys/chromedriver
/__pycache__
app/__pycache__
/log

/pars_skript/pars_index/PIndx01.dbf
/pars_skript/position/test.py
/pars_skript/position/__init__.py
/pars_skript/position/__pycache__
/pars_skript/position/chromedriver



/pars_skript/log/
/pars_skript/settings/__init__.py

