[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
psycopg2-binary = "*"
beautifulsoup4 = "*"
transliterate = "*"
requests = "*"
selenium = "*"
webdriver-manager = "*"
dadata = "*"
bson = "*"
dbfpy = "*"
dbf-light = "*"
dbfread = "*"

[dev-packages]

[requires]
python_version = "3.10"
